In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [2]:
# Load Data
df = pd.read_csv("../data/enhanced_ipl_data.csv")

# Display first few rows
df.head()

,id,date,team1,team2,toss_winner,decision,first_score,first_wkts,second_score,second_wkts,winner,player_of_the_match,most_runs,most_wkts,team1_batting_average,team2_batting_average
0,14,2024-01-04,Mumbai,Rajasthan,Rajasthan,Field,125,9,127,4,Rajasthan,Trent Boult,Riyan Parag,Yuzvendra Chahal,13.888889,31.750000
1,15,2024-02-04,Lucknow,Banglore,Banglore,Field,181,5,153,10,Lucknow,Mayank Yadav,Quinton de Kock,Mayank Yadav,36.200000,15.300000
2,16,2024-03-04,Kolkata,Delhi,Kolkata,Bat,272,7,166,10,Kolkata,Sunil Narine,Sunil Narine,Vaibhav Arora,38.857143,16.600000
3,17,2024-04-04,Gujarat,Punjab,Punjab,Field,199,4,200,7,Punjab,Shashank Singh,Shubman Gill,Noor Ahmad,49.750000,28.571429
4,18,2024-05-04,Chennai,Hyderabad,Hyderabad,Field,165,5,166,4,Hyderabad,Abhishek Sharma,Aiden Markram,Moeen Ali,33.000000,41.500000

In [3]:
# Convert date columns to numeric
# df['date'] = pd.to_datetime(df['date']).astype(int) / 10**9  # Convert date to timestamp (seconds)

# Filter out non-numeric columns for correlation
df_numeric = df.select_dtypes(include=[np.number])

# Correlation Heatmap
plt.figure(figsize=(10,6))
sns.heatmap(df_numeric.corr(), annot=True, cmap="coolwarm")
plt.title("Feature Correlation Heatmap")
plt.show()

# Top 5 Players with Most "Man of the Match" Awards
top_players = df['man_of_the_match'].value_counts().head(5)
top_players.plot(kind='bar', title='Top 5 Players with Most MOM Awards', color='teal')
plt.show()

# Team Performance (Total Wins)
team_wins = df['winner'].value_counts()
team_wins.plot(kind='bar', title='Most Successful Teams in IPL 2024', color='purple')
plt.show()

ValueError: could not convert string to float: '2024-01-04'

# IPL 2024 Data Analysis ðŸ“Š
This notebook analyzes IPL 2024 match data, exploring:
- Player performances
- Team wins
- Correlations between match factors